<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>会员查看</title>
</head>

<body>
<h1>请选择以下会员添加记录</h1>
<h1>{{groupname}}</h1>
<table id="tt" border="2">

{%	if ifgroupcreater	%}
	<td>会员名称</td>	<td>操作</td>	</tr>
	{%  for d in userinfo %}

	<tr {% if forloop.counter|divisibleby:"2"  %} style="background: gainsboro" {% else %} style="background: aquamarine"  {% endif %}  >  
	<td>{{ d }}</td> 
	<td> <a href="/online/update/?user={{ d }}&groupname={{groupname}}">添加</a>  <a href="/online/show/?user={{ d }}">查看</a>  </tr>
	{% endfor %}
{%	else	%}
	<td>会员名称</td>	</tr>
	{%  for d in userinfo %}

	<tr {% if forloop.counter|divisibleby:"2"  %} style="background: gainsboro" {% else %} style="background: aquamarine"  {% endif %}  >  
	<td>{{ d }}</td> 
	  </tr>
	{% endfor %}
{%	endif	%}
</table>

<br>
<a href="/online/logout/">退出</a>
<div class="footer">
	<p class="footer-text">
	<span>逯浩</span>
	<span>版权所有.版本：2.0.0</span>
</p>
</div>
</body>
</html>