<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
</head>

<body>
<h1>亲爱的{{username}}你好：</h1>

<h2>    您于{{datetime}}在{{club}}打球，消费次数为：{{usetimes}},剩余次数为：{{times}}</h2>

<table id="tt" border="2">
<tr> <td>日期</td>  <td>用户姓名</td> <td>使用次数</td>   <td>剩余次数</td>	</tr>

<td>{{ datetime }}</td> <td>{{ username }}</td> <td>{{ usetimes }}</td><td>{{ times }}</td>

</table>
<h3>您可以登陆网站：zhanyu.hxcms.cn/online查看所有记录</h3>
<br>

<div class="footer">
	<p class="footer-text">
	<span>逯浩</span>
	<span>版权所有.版本：2.0.0</span>
</p>
</div>
</body>
</html>