<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
</head>

<body>
<h1>{{user}}的使用记录</h1>

<table id="tt" border="2">
<tr> <td>日期</td>  <td>用户姓名</td> <td>使用次数</td>   <td>剩余次数</td>	<td>操作</td>	</tr>

{%  for d in data %}
<tr {% if forloop.counter|divisibleby:"2"  %} style="background: gainsboro" {% else %} style="background: aquamarine"  {% endif %}  >  
<td>{{ d.userdate }}</td> <td>{{ d.user }}</td> <td>{{ d.usetimes }}</td><td>{{ d.times }}</td>
<td><a href="/online/delete/?id={{ d.id }}">删除</a>  <a href="/online/update/?user={{ d.user }}">添加</a>  </tr>
{% endfor %}

</table>

<br>
<a href="/online/logout/">退出</a>
<div class="footer">
	<p class="footer-text">
	<span>逯浩</span>
	<span>版权所有.版本：2.0.0</span>
</p>
</div>
</body>
</html>